<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display Webpages</h1>
        <table border="3px">
            <tr>
                <th>PK</th>
                <th>topic_name</th>
                <th>name</th>
                <th>url</th>
                <th>gmail</th>
            </tr>
            {% for w in webpages %}
            <tr>
                <th>w.PK</th>
                <th>w.topic_name</th>
                <th>w.name</th>
                <th>w.url</th>
                <th>w.gmail</th>
            </tr>

            {% forend %}
        </table>
    </center>
</body>
</html>